<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taxi.friend.drivers">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".register.RegisterDriverAccountActivity"></activity>
        <activity android:name=".register.CarBackPictureActivity" />
        <activity android:name=".register.CarFrontPictureActivity" />
        <activity android:name=".register.DriverLicenseBackActivity" />
        <activity android:name=".register.DriverLicenceFrontActivity" />
        <activity android:name=".register.RegisterWelcomeActivity" />
        <activity android:name=".TaxiDriverRegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>